{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% load static %}

<!-- banner start-->
<style>
    .banner {
        background: url("../../static/images/bg/banner1.jpg");
        background-size: cover;
    }
</style>
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                <div class="header-text">
                    <h2>Login</h2>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- login start -->
<section class="login-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn-flower">sign in</button>
                        <div class="bottom">Don't have an account? <br>
                            <a href="{% url 'register' %}">Create account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!-- login end -->

{% endblock %}