{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

{% load static %}

<!-- banner start-->
<style>
    .banner {
        background: url("../../static/images/bg/banner1.jpg");
        background-size: cover;
    }
</style>
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                <div class="header-text">
                    <h2>Story Details</h2>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- details start -->
<section class="story-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h4>I don't care how many people are in this world I want you end Of story.</h4>
                    <p class="date-author">
                        Posted By <a href="https://wedding-wonders.bugfinder.net/user/profile">Arman</a> On                            <span>01 Jan, 1970</span>
                    </p>
                </div>
                <div class="img-box">
                    <img class="img-fluid" src="https://wedding-wonders.bugfinder.net/assets/uploads/story/63480087048fe1665663111.jpg" alt="story image">
                </div>
                <div class="text-box">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consequuntur asperiores iure deleniti. Fugiat maxime pariatur possimus reprehenderit. Dignissimos atque harum aliquid impedit voluptatibus? Aperiam quam animi mollitia fugit voluptatum.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consequuntur asperiores iure deleniti. Fugiat maxime pariatur possimus reprehenderit. Dignissimos atque harum aliquid impedit voluptatibus? Aperiam quam animi mollitia fugit voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consequuntur asperiores iure deleniti. Fugiat maxime pariatur possimus reprehenderit. Dignissimos atque harum aliquid impedit voluptatibus? Aperiam quam animi mollitia fugit voluptatum.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consequuntur asperiores iure deleniti. Fugiat maxime pariatur possimus reprehenderit. Dignissimos atque harum aliquid impedit voluptatibus? Aperiam quam animi mollitia fugit voluptatum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- details end -->

<!-- photos -->
<section class="photo-gallery happy-stories bg-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-text">
                    <h2>photo gallery</h2>
                </div>
            </div>
        </div>
        <div class="row g-3">
             <div class="col-lg-3 col-6">
                 <div class="img-box">
                     <img src="https://wedding-wonders.bugfinder.net/assets/uploads/story/thumb_6347fa05c34051665661445.jpg" alt="gallery img" class="img-fluid">
                     <div class="hover-content cursorDefault">
                         <div class="text-box">
                             <a href="https://wedding-wonders.bugfinder.net/assets/uploads/story/6347fa05c34051665661445.jpg" data-fancybox="gallery" class="mx-2 iconHoverBg">
                                 <i class="fas fa-search-plus" aria-hidden="true"></i>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-6">
                 <div class="img-box">
                     <img src="https://wedding-wonders.bugfinder.net/assets/uploads/story/thumb_6347fa08575251665661448.jpg" alt="gallery img" class="img-fluid">
                     <div class="hover-content cursorDefault">
                         <div class="text-box">
                             <a href="https://wedding-wonders.bugfinder.net/assets/uploads/story/6347fa08575251665661448.jpg" data-fancybox="gallery" class="mx-2 iconHoverBg">
                                 <i class="fas fa-search-plus" aria-hidden="true"></i>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
            <div class="col-lg-3 col-6">
                <div class="img-box">
                    <img src="https://wedding-wonders.bugfinder.net/assets/uploads/story/thumb_6347fa0a03f9c1665661450.jpg" alt="gallery img" class="img-fluid">
                    <div class="hover-content cursorDefault">
                        <div class="text-box">
                            <a href="https://wedding-wonders.bugfinder.net/assets/uploads/story/6347fa0a03f9c1665661450.jpg" data-fancybox="gallery" class="mx-2 iconHoverBg">
                                <i class="fas fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="img-box">
                    <img src="https://wedding-wonders.bugfinder.net/assets/uploads/story/thumb_6347fa0cefbec1665661452.jpg" alt="gallery img" class="img-fluid">
                    <div class="hover-content cursorDefault">
                        <div class="text-box">
                            <a href="https://wedding-wonders.bugfinder.net/assets/uploads/story/6347fa0cefbec1665661452.jpg" data-fancybox="gallery" class="mx-2 iconHoverBg">
                                <i class="fas fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}